<!DOCTYPE html>
<html lang="en" ng-app="emailExample">
<head>
    <meta charset="UTF-8">
    <title>Angularjs</title>
    <script src="../angular/angular.js"></script>
    <script src="../angular/angular-route.min.js"></script>
</head>
<body>
<!--<script>-->
    <!--angular.module('ngApp',[])-->
            <!--.controller('modelController',['$scope',function($scope){-->
                <!--$scope.checkboxModel = {-->
                    <!--value  : true,-->
                    <!--value1 : 'val2'-->
                <!--}-->
                <!--$scope.specialValue = {-->
                    <!--name:'hahaha'-->
                <!--}-->
                <!--console.log(specialValue + " = specialValue ")-->
            <!--}])-->
<!--</script>-->
<!--<input type="radio" ng-value="specialValue"> HHHH-->
<!--<form name="myForm" ng-controller="modelController">-->
    <!--<label>-->
        <!--value1 : <input ng-model="checkboxModel.value1">-->
    <!--</label>-->
    <!--<lable>-->
        <!--value2 : <input type="checkbox" ng-model="checkboxModel.value">-->
    <!--</lable>-->

<!--</form>-->
<!-- ************************************************************************************ -->

<!--<script>-->
    <!--angular.module('dateExample', [])-->
            <!--.controller('DateController', ['$scope', function($scope) {-->
                <!--$scope.example = {-->
                    <!--value: new Date(2010, 11, 28, 14, 57)-->
                <!--};-->
            <!--}]);-->
<!--</script>-->
<!--<form name="myForm" ng-controller="DateController as dateCtrl">-->
    <!--<label for="exampleInput">Pick a date between in 2013:</label>-->
    <!--<input type="datetime-local" id="exampleInput" name="input" ng-model="example.value"-->
           <!--placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />-->
    <!--<div role="alert">-->
    <!--<span class="error" ng-show="myForm.input.$error.required">-->
        <!--Required!</span>-->
    <!--<span class="error" ng-show="myForm.input.$error.datetimelocal">-->
        <!--Not a valid date!</span>-->
    <!--</div>-->
    <!--<tt>value = {{example.value | date: "yyyy-MM-ddTHH:mm:ss"}}</tt><br/>-->
    <!--<tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>-->
    <!--<tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>-->
    <!--<tt>myForm.$valid = {{myForm.$valid}}</tt><br/>-->
    <!--<tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>-->
<!--</form>-->



<!--<script>-->
    <!--angular.module('emailExample', [])-->
            <!--.controller('ExampleController', ['$scope', function($scope) {-->
                <!--$scope.email = {-->
                    <!--text: 'me@example.com'-->
                <!--};-->
            <!--}]);-->
<!--</script>-->
<!--<form name="myForm" ng-controller="ExampleController">-->
    <!--<label>Email:-->
        <!--<input type="email" name="input" ng-model="email.text" required>-->
    <!--</label>-->
    <!--<div role="alert">-->
      <!--<span class="error" ng-show="myForm.input.$error.required">-->
        <!--Required!</span>-->
      <!--<span class="error" ng-show="myForm.input.$error.email">-->
        <!--Not valid email!</span>-->
    <!--</div>-->
    <!--<tt>text = {{email.text}}</tt><br/>-->
    <!--<tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>-->
    <!--<tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>-->
    <!--<tt>myForm.$valid = {{myForm.$valid}}</tt><br/>-->
    <!--<tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>-->
    <!--<tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/>-->
<!--</form>-->

<!-- ************************************************************************************ -->

<!--<script>-->
    <!--angular.module('dateInputExample', [])-->
            <!--.controller('DateController', ['$scope', function($scope) {-->
                <!--$scope.example = {-->
                    <!--value: new Date(2013, 9, 22)-->
                <!--};-->
            <!--}]);-->
<!--</script>-->
<!--<form name="myForm" ng-controller="DateController as dateCtrl">-->
    <!--<label for="exampleInput">Pick a date in 2013:</label>-->
    <!--<input type="date" id="exampleInput" name="input" ng-model="example.value"-->
           <!--placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />-->
    <!--<div role="alert">-->
     <!--<span class="error" ng-show="myForm.input.$error.required">-->
         <!--Required!</span>-->
     <!--<span class="error" ng-show="myForm.input.$error.date">-->
         <!--Not a valid date!</span>-->
    <!--</div>-->
    <!--<tt>value = {{example.value | date: "yyyy-MM-dd-HH-SS-ss"}}</tt><br/>-->
    <!--<tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>-->
    <!--<tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>-->
    <!--<tt>myForm.$valid = {{myForm.$valid}}</tt><br/>-->
    <!--<tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->